// ***************************************************************
// Clear all styles to prevent influence of styles from outer page
// ***************************************************************
fatcoupon-root {
  all: initial;
}

// **************************************************
// ATTENTION: all styles of extension should be put
// inside this tag to prevent influence to outer page
// **************************************************
fatcoupon-content {
  @import "~bootstrap/scss/bootstrap";

  font-family: "Roboto", "Open Sans", Helvetica, Arial, sans-serif;

  ::-webkit-scrollbar {
    overflow: visible;
    height: 7px;
    width: 7px
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: rgba(0,0,0,.4)
  }
  ::-webkit-scrollbar-button {
    height: 0;
    width: 0
  }
  ::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 2px
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
