#coupon-applier-popup-container {
  z-index: 2000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(80, 80, 80, 0.8);
}

#coupon-applier-popup-container > div {
  width: 645px;
  left: calc(50vw - 317px);
  position: fixed;
  pointer-events: auto;
  border-radius: 4px;
  box-sizing: border-box;
  top: calc(50vh - 230px);
}
