#sidebar-container {
  z-index: 1500;
  position: fixed;
  display: block;
  top: 20px;
  left: 20px;
  width: 300px;
  padding: 0;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;

  &:not(.show) {
    left: -500px;
  }

  > .card {
    height: 100%;
    margin-bottom: 0 !important;
    border: none;

    > .card-header {
      margin-top: 0;
      h3 {
        font-size: 20px;
      }
      svg {
        font-size: 16px;
      }
    }

    > .card-body {
      display: flex;
      align-items: center;
      overflow-y: auto;
      height: 100%;
    }
  }

  .bg-light-green {
    background-color: #e9fcf2 !important;
  }

  .btn-orange {
    background-color: #ff7227 !important;
    color: #fff;
    &:hover {
      background-color: #ff8b4e !important;
    }
    &:active {
      background-color: #d15e20 !important;
    }
  }
}
